.btn--book {
    font-family: 'UTM_Bebas';
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 2px solid #f00;
    color: #fff;
    background-color: #f00;
    padding: 10px 20px;
    &:hover {
        text-decoration: none;
    }
}

.btn--go-top {
    position: fixed;
    right: 1em;
    bottom: 2em;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.22);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.btn--effect-1 {
    &:hover {
        @include css3-prefix(animation, (shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both));
        @include css3-prefix(backface-visibility, hidden);
        @include css3-prefix(perspective, 1000px);
    }
    @include keyframes(shake) {
        from, to {
            @include css3-prefix(transform, translate3d(0, 0, 0));
        }

        10%, 30%, 50%, 70%, 90% {
            @include css3-prefix(transform, translate3d(-10px, 0, 0));
        }

        20%, 40%, 60%, 80% {
            @include css3-prefix(transform, translate3d(10px, 0, 0));
        }
    }
}