.btn, .carousel, .dropdown-menu li, .nav, .pagination, .panel-title, .panel-title a, a, button {
    @include transition();
    &:hover {
        text-decoration: none;
    }    
}

.font-icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}

iframe {
    border: none;
}

.navbar {
    &.scroll {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
    }
    li {
        a { 
            position: relative;
            display: inline-block;
            font-family: 'UTM_Bebas';
            color: $color-Mine-Shaft;
            font-size: 1.5em;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: $web-primary-color;
                height: 1px;
                opacity: 0;
                @include transition(height 0.3s, opacity 0.3s, transform 0.3s);
            }
            &.active {
                &:after {
                    height: 3px;
                    opacity: 0.9;
                    display: inline-block;
                }
            }
        }
    }
}

/*------------------------------------*\
#SLICK SLIDER
\*------------------------------------*/

.slick-slide {
    outline: none;
}

.slick-arrow {
    z-index: 1;
    top: 50%;
    width: 40px;
    height: 40px;
    color: $color-white !important;
    &:before {
        font-size: 30px;
    }
    &.custom-arrow {
        font-size: 3em;
        &:before {         
            content: initial;
        }
    }
    i:before {
        margin: 0;
        line-height: 1;
    }
    &.has-bg-image {
        font-size: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;  
    }
    &.slick-prev {
        &.has-bg-image {
            left: 5px;
            background-image: url(#{$imgSrc}/funbeach-button-prev.png);
        }
        left: 0;
    }
    &.slick-next {
        &.has-bg-image {
            right: 5px;
            background-image: url(#{$imgSrc}/funbeach-button-next.png);
        }
        right: 5px;
    }
    @media (min-width: 768px) {
        width: 50px;
        height: 50px;
        top: 50%;
        &.slick-prev{
            left: 5px;
        }
        &.slick-next{
            right: 5px;
        }
    }
}

.count-down {
    background-color: #000;
    color: #fff;
    .block__num {
        font-family: 'Montserrat-Bold';
        font-size: 2em;
        margin-bottom: 0;
    }
    .block__unit {
        font-family: 'Montserrat-Regular';
    }
    .colon {
        font-family: 'Montserrat-Regular';
        font-size: 3em;
    }
}

.banner {
    .text {
        font-family: 'Knockout_HTF67FullBantamwt_Regular';
        color: $color-Mine-Shaft;
        > * {
            line-height: 0.9;
            margin: auto;
        }
    }
    .btn--book {
        cursor: pointer;
        &:hover {
            color: #fff !important;
            background-color: #000 !important;
        }
    }
}

%title {
    font-family: 'Knockout_HTF67FullBantamwt_Regular';
    font-size: 5em;
    color: $web-primary-color;
    margin: auto;
}

.intro__place {
    background-image: url(#{$imgSrc}/intro_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 47% 0%;
    padding: 50px 0;

    .title {
        @extend %title;
    }      

    .description {
        color: #fff;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;
        padding: 0 15px;
    }
}

%des {
    margin: auto;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    text-align: justify;
}

.intro__artist {
    background-color: $web-primary-color;
    .des {
        @extend %des;
    }
    .title {
        @extend %title;
        color: #000;
    } 
    .artist {
        opacity: 0.7;
    }
}

.gallery {
    .gallery__social {
        background-color: $web-primary-color;
    }
    .gallery__social-text {
        font-style: italic;
        font-family: 'Roboto-Regular';
        font-size: 1em;
        line-height: 1.5;
        color: $color-Mine-Shaft;
    }
    .gallery__social-icon {
        ul {
            list-style-type:none;
            padding: 0;
            margin: auto;
        }
        li {
            display: inline-block;
            a {
                color: #fff;
                border-radius: 50%;
                display: block;
                font-size: 20px;
                text-align: center;
                width: 40px;
                height: 40px;
                line-height: 40px;

                &:hover {
                    background-color: #fff;
                    color: $web-primary-color;
                }
            }
        }
    }
    .gallery__brief {
        @extend %des;
        background-color: $web-primary-color;
    }
    .flash {
        @include animation(flash-effect 2s infinite);
        @include keyframes(flash-effect) {
            from { @include transform(rotateY(0deg)) }
            to {  @include transform(rotateY(180deg)) }
        }
    }
    .warning {
        outline: none;
        @include animation(warning-effect 1s infinite);
        @include keyframes(warning-effect) {
            from {opacity: 0}
            to {opacity:1}
        }
    }
    .video {
        cursor: pointer;
    }
    #thumb-video + iframe {
        display: none;
        height: 450px;
    }
    .boom {
        cursor: pointer;
        &:hover {
            @include css3-prefix(animation, anim-moema-1 0.5s infinite forwards);
            @include keyframes(anim-moema-1) {
                60% {
                    @include css3-prefix(transform, scale3d(0.8, 0.8, 1));
                }
                85% {
                    @include css3-prefix(transform, scale3d(1.1, 1.1, 1));
                }
                100% {
                    @include css3-prefix(transform, scale3d(1, 1, 1));
                }
            }
        }
    }
    #thumb-video {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
    iframe {
        min-height: 15em;
    }
}

.booking {
    .title {
        font-family: 'Roboto-Bold';
        font-size: 0.875em;
        color: $color-Mine-Shaft;
        &:before {
            top: 0;
            left: 0;
            border-top: 3px solid $web-primary-color;
            border-left: 3px solid $web-primary-color;
            @include transform(translate(-20%, 0));
        }
        &:after {
            bottom: 0;
            right: 0;
            border-bottom: 3px solid $web-primary-color;
            border-right: 3px solid $web-primary-color;
            @include transform(translate(20%, 0));
        }
        &:before, &:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
        }
    }
    .type {
        background-color: #fff;
        border: solid 3px $color-Mine-Shaft;
        position: relative;
    }
    .type__title {
        font-family: 'Knockout_HTF67FullBantamwt_Regular';
        font-size: 2.1875em;
        color: $web-primary-color;
        span {
            font-family: 'Roboto-Bold';
            font-size: 0.35em;
            color: $color-Mine-Shaft;
        }
    }
    .type__price {
        font-family: 'Knockout_HTF67FullBantamwt_Regular';
        font-size: 3.75em;
        color: $color-Mine-Shaft;
    }
    .type--unit {
        font-family: 'UTM_Bebas';
        font-size: 0.5em;
    }
    .type__group {
        font-family: 'Roboto-Bold';
        font-size: 0.25em;
        line-height: 1;
        background-color: $color-Mine-Shaft;
        color: #fff;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        cursor: pointer;
        padding: 18px 0 12px;
    }
    .btn--book {
        color: $color-Mine-Shaft;
        background-color: transparent;
        border: 3px solid $color-Mine-Shaft;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: $color-Mine-Shaft;
            @include transition();
        }
    }
}

.venue {
    background-color: $web-primary-color;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    .title  {
        font-family: 'UTM_Bebas';
        font-size: 2em;
        color: $color-Mine-Shaft;
        margin: auto;
    }    
}

.venue--direction {
    color: $color-Mine-Shaft;
    font-family: 'Roboto-Bold';
    font-size: 1em;
    font-weight: bold;
    position: relative;
    &:after {
        position: absolute;
        content: '>>';
        top: -3px;
        right: -22px;
        color: #fff;
        visibility: hidden;
    }
    &:hover {
        color: #fff;
        &:after {
            visibility: visible;
        }
    }
}

.organizer {
    .title {
        font-family: 'Roboto-Regular';
        font-size: 1.5625em;
        color: $web-primary-color;
    }
}

footer {
    background-color: $color-Mine-Shaft;
    color: #fff;
    .footer--flash {
        @include animation(border-effect 1s infinite);
        @include keyframes(border-effect) {
            from { border: 3px solid $color-Mine-Shaft; }
            to { border: 3px solid red; }
        }
    }
}

@media (min-width: 36em) {
    .intro__place {
        .description {
            margin: auto 3em;
        }
    }
}

@media (min-width: 48em) {
    .banner {
        position: relative;
        background-image: url(#{$imgSrc}/banner.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 24.2em;
        .text {
            top: 16%;
            left: 7%;
            @include transform(initial);

            .h1 {
                font-size: 6.5em;
            }
            .h2 {
                font-size: 3.9em;
            }
            .loc {
                font-size: 1.67em;
                color: #fff;
            }

            .btn--book {
                margin-top: 1em;
            }
        }
    }

    .intro__place {
        .description {
            margin: auto 5em;
        }
    }

    .gallery {
        .featured-images-slider {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }

    .venue {
        .title {
            font-size: 3em;
        }
    }
}

@media (min-width: 62em) {
    .banner {
        min-height: 31.2em;
        .text {
            top: 16%;
            left: 10%;
            .h1 {
                font-size: 8.4em;
            }
            .h2 {
                font-size: 5.1em;
            }
            .loc {
                font-size: 2.17em;
            }
        }
    }

    .intro__place {
        .description {
            margin: auto 9em;
        }
    }
    
    .organizer {
        .title {
            +img {
                width: 90% !important;
            }
        }
    }

    .venue {
        .title {
            font-size: 4em;
        }
    }
}

@media (min-width: 75em) {
    .banner {
        min-height: 38em;
        .text {
            top: 20%;
            left: 7%;
            .h1 {
                font-size: 10.7em;
            }
            .h2 {
                font-size: 6.5em;
            }
            .loc {
                font-size: 2.7em;
            }
        }
    }
    .intro__place {
        .description {
            margin: auto 12em;
        }
    }
    .gallery {
        .gallery__social-text { 
            font-size: 1.8em;
        }
    }
    .booking {
        .title {
            font-size: 1em;
        }
    }
}

@media (min-width: 94em) {
    .banner {
        min-height: 48.5em;
    }
    .intro__place {
        .description {
            margin: auto 22em;
        }
    }
}
