@font-face {
    font-family: 'Knockout_HTF67FullBantamwt_Regular';
    src: url('#{$fontSrc}/Knockout_HTF67FullBantamwt_Regular.eot');
    src: url('#{$fontSrc}/Knockout_HTF67FullBantamwt_Regular.eot?#iefix') format('embedded-opentype'), 
    url('#{$fontSrc}/Knockout_HTF67FullBantamwt_Regular.otf') format('truetype');
}

@font-face {
    font-family: 'UTM_Bebas';
    src: url('#{$fontSrc}/UTM_Bebas.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('#{$fontSrc}/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('#{$fontSrc}/Roboto-Bold.eot'),
    url('#{$fontSrc}/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
    url('#{$fontSrc}/Roboto-Bold.woff') format('woff'), 
    url('#{$fontSrc}/Roboto-Bold.otf') format('opentype'), 
    url('#{$fontSrc}/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('#{$fontSrc}/Montserrat-Bold.eot');
    src: url('#{$fontSrc}/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
    url('#{$fontSrc}/Montserrat-Bold.woff') format('woff'), 
    url('#{$fontSrc}/Montserrat-Bold.otf') format('opentype'), 
    url('#{$fontSrc}/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('#{$fontSrc}/Montserrat-Regular.eot');
    src: url('#{$fontSrc}/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), 
    //url('#{$fontSrc}/Montserrat-Regular.woff') format('woff'), 
    //url('#{$fontSrc}/Montserrat-Regular.otf') format('opentype'), 
    url('#{$fontSrc}/Montserrat-Regular.ttf') format('truetype');
}

