@media (min-width: 48em) {
    .fancybox-content {
        width: 75%
    }    
}

@media (min-width: 62em) {
    .fancybox-content {
        width: 50%
    }
}

@media (min-width: 94em) {
    .fancybox-content {
        width: 30%
    }
}