@font-face {
  font-family: 'Knockout_HTF67FullBantamwt_Regular';
  src: url("../fonts/Knockout_HTF67FullBantamwt_Regular.eot");
  src: url("../fonts/Knockout_HTF67FullBantamwt_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Knockout_HTF67FullBantamwt_Regular.otf") format("truetype"); }
@font-face {
  font-family: 'UTM_Bebas';
  src: url("../fonts/UTM_Bebas.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.otf") format("opentype"), url("../fonts/Roboto-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.otf") format("opentype"), url("../fonts/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
.btn--book {
  font-family: 'UTM_Bebas';
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border: 2px solid #f00;
  color: #fff;
  background-color: #f00;
  padding: 10px 20px; }
  .btn--book:hover {
    text-decoration: none; }

.btn--go-top {
  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.22);
  color: #fff;
  text-align: center;
  cursor: pointer; }

.btn--effect-1:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -khtml-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -moz-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -ms-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -o-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-backface-visibility: hidden;
  -khtml-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -khtml-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px; }
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -khtml-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -khtml-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@-moz-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -khtml-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -khtml-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@-ms-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -khtml-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -khtml-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@-o-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -khtml-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -khtml-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    -khtml-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -khtml-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    -o-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -khtml-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
#header a {
  height: 2em; }

@media (min-width: 48em) {
  .fancybox-content {
    width: 75%; } }
@media (min-width: 62em) {
  .fancybox-content {
    width: 50%; } }
@media (min-width: 94em) {
  .fancybox-content {
    width: 30%; } }
.btn, .carousel, .dropdown-menu li, .nav, .pagination, .panel-title, .panel-title a, a, button {
  -webkit-transition: all 0.3s ease 0s;
  -khtml-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn:hover, .carousel:hover, .dropdown-menu li:hover, .nav:hover, .pagination:hover, .panel-title:hover, .panel-title a:hover, a:hover, button:hover {
    text-decoration: none; }

.font-icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.2em; }

iframe {
  border: none; }

.navbar.scroll {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999; }
.navbar li a {
  position: relative;
  display: inline-block;
  font-family: 'UTM_Bebas';
  color: #222;
  font-size: 1.5em; }
  .navbar li a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #facbcc;
    height: 1px;
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -khtml-transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -ms-transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -o-transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s; }
  .navbar li a.active:after {
    height: 3px;
    opacity: 0.9;
    display: inline-block; }

/*------------------------------------*\
#SLICK SLIDER
\*------------------------------------*/
.slick-slide {
  outline: none; }

.slick-arrow {
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  color: #fff !important; }
  .slick-arrow:before {
    font-size: 30px; }
  .slick-arrow.custom-arrow {
    font-size: 3em; }
    .slick-arrow.custom-arrow:before {
      content: initial; }
  .slick-arrow i:before {
    margin: 0;
    line-height: 1; }
  .slick-arrow.has-bg-image {
    font-size: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .slick-arrow.slick-prev {
    left: 0; }
    .slick-arrow.slick-prev.has-bg-image {
      left: 5px;
      background-image: url(../img/funbeach-button-prev.png); }
  .slick-arrow.slick-next {
    right: 5px; }
    .slick-arrow.slick-next.has-bg-image {
      right: 5px;
      background-image: url(../img/funbeach-button-next.png); }
  @media (min-width: 768px) {
    .slick-arrow {
      width: 50px;
      height: 50px;
      top: 50%; }
      .slick-arrow.slick-prev {
        left: 5px; }
      .slick-arrow.slick-next {
        right: 5px; } }

.count-down {
  background-color: #000;
  color: #fff; }
  .count-down .block__num {
    font-family: 'Montserrat-Bold';
    font-size: 2em;
    margin-bottom: 0; }
  .count-down .block__unit {
    font-family: 'Montserrat-Regular'; }
  .count-down .colon {
    font-family: 'Montserrat-Regular';
    font-size: 3em; }

.banner .text {
  font-family: 'Knockout_HTF67FullBantamwt_Regular';
  color: #222; }
  .banner .text > * {
    line-height: 0.9;
    margin: auto; }
.banner .btn--book {
  cursor: pointer; }
  .banner .btn--book:hover {
    color: #fff !important;
    background-color: #000 !important; }

.intro__place .title, .intro__artist .title {
  font-family: 'Knockout_HTF67FullBantamwt_Regular';
  font-size: 5em;
  color: #facbcc;
  margin: auto; }

.intro__place {
  background-image: url(../img/intro_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 47% 0%;
  padding: 50px 0; }
  .intro__place .description {
    color: #fff;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 0 15px; }

.intro__artist .des, .gallery .gallery__brief {
  margin: auto;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  text-align: justify; }

.intro__artist {
  background-color: #facbcc; }
  .intro__artist .title {
    color: #000; }
  .intro__artist .artist {
    opacity: 0.7; }

.gallery .gallery__social {
  background-color: #facbcc; }
.gallery .gallery__social-text {
  font-style: italic;
  font-family: 'Roboto-Regular';
  font-size: 1em;
  line-height: 1.5;
  color: #222; }
.gallery .gallery__social-icon ul {
  list-style-type: none;
  padding: 0;
  margin: auto; }
.gallery .gallery__social-icon li {
  display: inline-block; }
  .gallery .gallery__social-icon li a {
    color: #fff;
    border-radius: 50%;
    display: block;
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px; }
    .gallery .gallery__social-icon li a:hover {
      background-color: #fff;
      color: #facbcc; }
.gallery .gallery__brief {
  background-color: #facbcc; }
.gallery .flash {
  -webkit-animation: flash-effect 2s infinite;
  -khtml-animation: flash-effect 2s infinite;
  -moz-animation: flash-effect 2s infinite;
  -ms-animation: flash-effect 2s infinite;
  -o-animation: flash-effect 2s infinite;
  animation: flash-effect 2s infinite; }
@-webkit-keyframes flash-effect {
  from {
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
@-moz-keyframes flash-effect {
  from {
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
@-ms-keyframes flash-effect {
  from {
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
@-o-keyframes flash-effect {
  from {
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
@keyframes flash-effect {
  from {
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
.gallery .warning {
  outline: none;
  -webkit-animation: warning-effect 1s infinite;
  -khtml-animation: warning-effect 1s infinite;
  -moz-animation: warning-effect 1s infinite;
  -ms-animation: warning-effect 1s infinite;
  -o-animation: warning-effect 1s infinite;
  animation: warning-effect 1s infinite; }
@-webkit-keyframes warning-effect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes warning-effect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes warning-effect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes warning-effect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes warning-effect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.gallery .video {
  cursor: pointer; }
.gallery #thumb-video + iframe {
  display: none;
  height: 450px; }
.gallery .boom {
  cursor: pointer; }
  .gallery .boom:hover {
    -webkit-animation: anim-moema-1 0.5s infinite forwards;
    -khtml-animation: anim-moema-1 0.5s infinite forwards;
    -moz-animation: anim-moema-1 0.5s infinite forwards;
    -ms-animation: anim-moema-1 0.5s infinite forwards;
    -o-animation: anim-moema-1 0.5s infinite forwards;
    animation: anim-moema-1 0.5s infinite forwards; }
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -khtml-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -khtml-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -khtml-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-moz-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -khtml-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -khtml-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -khtml-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-ms-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -khtml-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -khtml-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -khtml-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@-o-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -khtml-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -khtml-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -khtml-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    -khtml-transform: scale3d(0.8, 0.8, 1);
    -moz-transform: scale3d(0.8, 0.8, 1);
    -ms-transform: scale3d(0.8, 0.8, 1);
    -o-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -khtml-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -khtml-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.gallery #thumb-video {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .gallery #thumb-video:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
.gallery iframe {
  min-height: 15em; }

.booking .title {
  font-family: 'Roboto-Bold';
  font-size: 0.875em;
  color: #222; }
  .booking .title:before {
    top: 0;
    left: 0;
    border-top: 3px solid #facbcc;
    border-left: 3px solid #facbcc;
    -webkit-transform: translate(-20%, 0);
    -khtml-transform: translate(-20%, 0);
    -moz-transform: translate(-20%, 0);
    -ms-transform: translate(-20%, 0);
    -o-transform: translate(-20%, 0);
    transform: translate(-20%, 0); }
  .booking .title:after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #facbcc;
    border-right: 3px solid #facbcc;
    -webkit-transform: translate(20%, 0);
    -khtml-transform: translate(20%, 0);
    -moz-transform: translate(20%, 0);
    -ms-transform: translate(20%, 0);
    -o-transform: translate(20%, 0);
    transform: translate(20%, 0); }
  .booking .title:before, .booking .title:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px; }
.booking .type {
  background-color: #fff;
  border: solid 3px #222;
  position: relative; }
.booking .type__title {
  font-family: 'Knockout_HTF67FullBantamwt_Regular';
  font-size: 2.1875em;
  color: #facbcc; }
  .booking .type__title span {
    font-family: 'Roboto-Bold';
    font-size: 0.35em;
    color: #222; }
.booking .type__price {
  font-family: 'Knockout_HTF67FullBantamwt_Regular';
  font-size: 3.75em;
  color: #222; }
.booking .type--unit {
  font-family: 'UTM_Bebas';
  font-size: 0.5em; }
.booking .type__group {
  font-family: 'Roboto-Bold';
  font-size: 0.25em;
  line-height: 1;
  background-color: #222;
  color: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  cursor: pointer;
  padding: 18px 0 12px; }
.booking .btn--book {
  color: #222;
  background-color: transparent;
  border: 3px solid #222;
  cursor: pointer; }
  .booking .btn--book:hover {
    color: #fff;
    background-color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -khtml-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

.venue {
  background-color: #facbcc;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center; }
  .venue .title {
    font-family: 'UTM_Bebas';
    font-size: 2em;
    color: #222;
    margin: auto; }

.venue--direction {
  color: #222;
  font-family: 'Roboto-Bold';
  font-size: 1em;
  font-weight: bold;
  position: relative; }
  .venue--direction:after {
    position: absolute;
    content: '>>';
    top: -3px;
    right: -22px;
    color: #fff;
    visibility: hidden; }
  .venue--direction:hover {
    color: #fff; }
    .venue--direction:hover:after {
      visibility: visible; }

.organizer .title {
  font-family: 'Roboto-Regular';
  font-size: 1.5625em;
  color: #facbcc; }

footer {
  background-color: #222;
  color: #fff; }
  footer .footer--flash {
    -webkit-animation: border-effect 1s infinite;
    -khtml-animation: border-effect 1s infinite;
    -moz-animation: border-effect 1s infinite;
    -ms-animation: border-effect 1s infinite;
    -o-animation: border-effect 1s infinite;
    animation: border-effect 1s infinite; }
@-webkit-keyframes border-effect {
  from {
    border: 3px solid #222; }
  to {
    border: 3px solid red; } }
@-moz-keyframes border-effect {
  from {
    border: 3px solid #222; }
  to {
    border: 3px solid red; } }
@-ms-keyframes border-effect {
  from {
    border: 3px solid #222; }
  to {
    border: 3px solid red; } }
@-o-keyframes border-effect {
  from {
    border: 3px solid #222; }
  to {
    border: 3px solid red; } }
@keyframes border-effect {
  from {
    border: 3px solid #222; }
  to {
    border: 3px solid red; } }
@media (min-width: 36em) {
  .intro__place .description {
    margin: auto 3em; } }
@media (min-width: 48em) {
  .banner {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 24.2em; }
    .banner .text {
      top: 16%;
      left: 7%;
      -webkit-transform: initial;
      -khtml-transform: initial;
      -moz-transform: initial;
      -ms-transform: initial;
      -o-transform: initial;
      transform: initial; }
      .banner .text .h1 {
        font-size: 6.5em; }
      .banner .text .h2 {
        font-size: 3.9em; }
      .banner .text .loc {
        font-size: 1.67em;
        color: #fff; }
      .banner .text .btn--book {
        margin-top: 1em; }

  .intro__place .description {
    margin: auto 5em; }

  .gallery .featured-images-slider {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .gallery .featured-images-slider:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }

  .venue .title {
    font-size: 3em; } }
@media (min-width: 62em) {
  .banner {
    min-height: 31.2em; }
    .banner .text {
      top: 16%;
      left: 10%; }
      .banner .text .h1 {
        font-size: 8.4em; }
      .banner .text .h2 {
        font-size: 5.1em; }
      .banner .text .loc {
        font-size: 2.17em; }

  .intro__place .description {
    margin: auto 9em; }

  .organizer .title + img {
    width: 90% !important; }

  .venue .title {
    font-size: 4em; } }
@media (min-width: 75em) {
  .banner {
    min-height: 38em; }
    .banner .text {
      top: 20%;
      left: 7%; }
      .banner .text .h1 {
        font-size: 10.7em; }
      .banner .text .h2 {
        font-size: 6.5em; }
      .banner .text .loc {
        font-size: 2.7em; }

  .intro__place .description {
    margin: auto 12em; }

  .gallery .gallery__social-text {
    font-size: 1.8em; }

  .booking .title {
    font-size: 1em; } }
@media (min-width: 94em) {
  .banner {
    min-height: 48.5em; }

  .intro__place .description {
    margin: auto 22em; } }
